body {
background-color: purple;

}


.meny {

display: flex;
flex-direction: row;
max-width: 1000px;
margin: auto;
justify-content: space-around;
background-color: yellow;

}

.over {
height: 50px;
display: block;
border-style: solid;
  background-color: blue;
width: 100%;
padding: 10px;
}

.under {
display: none;
}

.over:hover .under {

padding: 10px;
min-width: 100px;
position: absolute;
margin-top: 2px;

  background-color: orange;
border-style: groove;
border-radius: 5px;
display: flex;
flex-direction: column;

}



}

.rubrik {

  font-size: 18px;

}


.box {
display: flex;
background-color: green;
flex-direction: row;
margin-top: 20px;
position: static;
justify-content: center;
max-width: 1000px;
margin: auto;
margin-top: 20px;


}

.vänster {
padding-left: 2px;
border-style: solid;
max-width: 75%;



}


.höger {
max-width: 25%;
  padding-left: 2px;
border-style: solid;
border-left: none;

}
