.meny {

display: flex;
    /*border-style: solid;*/
    max-width: 1000px;
    height: 50px;
position: static;
justify-content: center;
flex-direction:row;
margin: auto;

}

.over {

  border-style: solid;
  border-radius: 5px;
  width:200px;
  background-color: blue;
  z-index: 3;

}

.under {
display: none;
z-index: 3;
}

.over:hover .under {

  display: block;
  background-color: blue;
  width: 195px;
  height: 50px;
  border-style: groove;
  border-radius: 5px;
  z-index: 3;


}

.rubrik {

  font-size: 18px;

}


.box {
display: flex;
background-color: green;
flex-direction: row;
z-index: -1;
margin-top: 20px;
position: static;
justify-content: center;
max-width: 1000px;
margin: auto;
margin-top: 20px;
border-style: solid;
border-radius: 10px;
box-shadow: 10px 10px 7px;

}

.vänster {
  padding: 4px;
max-width: 75%;
}



}



.höger {
max-width: 25%;
  padding: 4px;
border-left-style: dotted;
border-color: blue;

}
