.meny {

display: flex;
    /*border-style: solid;*/
    width: 100%;
    height: 50px;
position: static;
justify-content: center;
flex-direction:row;

}

.over {

  border-style: solid;
  width:200px;
  background-color: blue;

}

.under {
display: none;
}

.over:hover .under {

  display: block;
  background-color: yellow;
/*  width: 195px;
  height: 50px;*/
  border-style: groove;
  border-radius: 5px;
  z-index: 1;

}

.rubrik {

  font-size: 18px;

}


.box {
display: flex;
background-color: green;
flex-direction: row;
z-index: -1;
margin-top: 20px;
position: static;
justify-content: center;
max-width: 1000px;
margin: auto;
margin-top: 20px;

}

.vänster {
padding-left: 2px;
border-style: solid;
max-width: 75%;



}


.höger {
max-width: 25%;
  padding-left: 2px;
border-style: solid;
border-left: none;

}
