* {
	box-sizing: border-box;
	/* Gör så att padding och margin räknas med i box width och height*/
}

body {
	background: url(alternativ2.jpg) no-repeat center fixed;
	background-size: cover;
}

.header {
	padding: 30px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 10px 10px 5px #aaaaaa;
	border: 1px solid #BFBFBF;
}

.container {
	margin-top: 20px;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}

@media screen and (max-width: 800px) {
	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
}

.child {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	box-shadow: 10px 10px 5px #aaaaaa;
	border: 1px solid #BFBFBF;
}

#bild {
	max-width: 100%;
	min-width: 20%;
}

h2 {
	font-size: 40px;
}

h1 {
	font-size: 20px;
	font-style: italic;
}

img {
	border-style: solid;
	border-color: #888888;
}

#text {
	font-family: 'Titan One', cursive;
}

.red {
	display: inline;
	color: red;
}

.blue {
	display: block;
	color: blue;
}

video {
	width: 75%;
	border-style: solid;
	border-color: #888888;
}

.meny {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

.meny:hover,
.meny:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropbtn {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 10px 10px 5px #aaaaaa;
	border: 1px solid #BFBFBF;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
}

.under {
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 10px 10px 5px #aaaaaa;
	border: 1px solid #BFBFBF;
	min-width: 100%;
	overflow: auto;
	z-index: 3;
}

.under a {
	color: black;
	padding: 12px 16px;
	display: block;
}

.show {
	display: block;
}

table {
	width: 100%;
}

th,
td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #aaaaaa;
}

th {
	background-color: rgb(112, 105, 98);
	color: white;
}
