.over {
  display: flex;
  background-color: red;
  width: 200px;
  height: ;
  border-style: dotted;
  border-radius;
  justify-content: center;
  flex-direction: column;
  margin: auto;


}
.overrubrik {
  display:flex;
  justify-content: space-around;
}


.under {
  display: none;
}


 .over:hover .under{
   display: block;

   background-color: green;
   width: 195px;
   height: 50px;
   border-style: groove;
   border-radius: 5px;

 }

 .ruta2{




 }
