body{
  background-image: url(bakgrund.jpg);

}

.rubrik {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-bottom: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: grey;

}

.rubrik1 {
  display: flex;
  position: relative;
  top: 13px;
  left: 0px;
  height: 70px;
  width: 600px;
  justify-content: center;
  flex-direction: row;


}

.text {
  display: flex;
  justify-content: center;
  border-style: solid;
  height: 70px;
  width: 600px;
  background: rgba(0, 0, 0, 1);
}

#rubriken{
  font-size: 50px;
  color: White;
  position: fixed;
  margin-top: 15px;

}



.menyer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-style: solid;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: grey;
  background: rgba(0, 0, 0, 0.5);
}

.over {

  margin-right: auto;
  border-left-style: dotted;
  border-color: white;
  padding-left: 20px;
  width: 70px;
}

#borderundantag{
  border: none;
}

a {
  color:white;
}

 .under{
    display: none;

 }

.over:hover .under {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 60px;
  border-style: groove;
  border-radius: 5px;

}
