body{
  background-image: url(bakgrund.jpg);
}

.rubrik {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  background-color:rgba(0,0,0,0.5);
  border-style: solid;
  border-bottom: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 800px;
}

.rubrik1 {
  display: flex;
  position: relative;
  top: 8px;
  left: 0px;
  height: 70px;
  /*width: 600px;*/
  justify-content: center;
  flex-direction: row;
  background-color:rgba(0,0,0,1);
  border-radius: 15px;
}

.text {
  display: flex;
  justify-content: center;
  border-color: White;
  border-style: solid;
  border-radius: 15px;
  height: 60px;
  /*width: 600px;*/
  background-color:rgba(0,0,0,1);
  padding: 10px;
}

#rubriken{
  font-size: 50px;
  color: White;
  margin-top: 5px;
}



.menyer{
  display: flex;
  /*flex-direction: row;
  justify-content: center;
  margin:auto;*/
  background-color: grey;
  border-style: solid;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-width: 800px;
}

.over1{
float: inherit;


}
.over {
  position: relative;
  display: inline-block;
/*min-width: 254px;*/
  border-right-style: dotted;
  border-color: white;
  padding-left: 10px;
  padding-right: 20px;
  background-color: grey;
  min-width: 100px;
  max-width: 110px;

}

.under{
position: absolute;
display: none;
background-color: grey;
color: white;
/*width: 195px;*/
border-style: groove;
border-color: black;
padding: 7px;
z-index: 3;
min-width: 100px;
max-width: 110px;
}

.over:hover > .under{
  display: block;
}

a {
  color:white
}


.start{
display: flex;
align-items: center;
flex-flow: column;
margin-top: 20px;

/*border-style: solid;
border-color: white;*/
}

.rubrik2{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  padding: 5px;
  color: white;
  background-color:rgba(0,0,0,0.5);

}

.information{
display: flex;
flex-direction: row;
margin-top: 10px;

}

#big_container {
  display: flex;
  flex-direction: column;
}

/*.informationvänster{
  border-style: solid;
  border-color: white;
  border-radius: 15px;

  padding: 5px;
  background-color:rgba(0,0,0,0.8);
  color: white;
  font-size: 20px;
  max-width: 350px;
  overflow-y: scroll;
  max-height: 500px;
}
*/

.informationmitten{

  border-style: solid;
  border-color: white;
  border-radius: 15px;
  /*margin-top: 10px;*/
  padding: 5px;
  background-color:rgba(0,0,0,0.8);
  color: white;
  font-size: 20px;
  max-width: 800px;
  max-height: 500px;
 overflow-y: scroll;

}


.
